# LangChain 핵심 패키지
langchain==0.3.20
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters

# PDF 처리 및 환경 변수
pypdf
python-dotenv

# 웹 프레임워크 및 UI 확장
streamlit
streamlit-extras

# 배포 환경(Linux)을 위한 SQLite 버전 패치
pysqlite3-binary

